Repository Tjcav/trestle-roundhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-import-check, architecture-path-check, frontend-import-check, shared-ts-import-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: architecture-import-check
        name: Architecture Import Check
        entry: python scripts/arch/import_check.py
        language: system
        types: [python]

      - id: architecture-path-check
        name: Architecture Path Check
        entry: python scripts/arch/path_check.py
        language: system
        types: [python]

      - id: frontend-import-check
        name: Frontend Architecture Check
        entry: node scripts/arch/frontend_import_check.js
        language: system
        files: ^apps/frontend/

      - id: shared-ts-import-check
        name: Shared TS Architecture Check
        entry: node scripts/arch/shared_ts_import_check.js
        language: system
        files: ^libs/shared-ts/

feat: update pre-commit configuration and add legacy lifecycle tests
  .pre-commit-config.yaml
  .vscode/settings.json
  core/tests/test_legacy_lifecycle_shim.py
  scripts/arch/path_check.py
  tests/architecture/test_legacy_lifecycle_shim.py
Due: architecture-import-check, architecture-path-check

feat: implement standards validation script and update CI configuration
  .github/workflows/ci.yml
  .trestle/standards.snapshot.json
  .trestle/standards.version
  README.md
  scripts/arch/standards_check.py
Due: architecture-import-check, architecture-path-check

feat: add panel desktop management API and update CI configuration
  .eslintrc.json
  .github/workflows/ci.yml
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierrc
  .trestle/standards.snapshot.json
  apps/backend/main.py
  apps/backend/roundhouse/api/__init__.py
  apps/backend/roundhouse/api/panel_routes.py
  apps/backend/roundhouse/services/panel_desktop.py
  apps/backend/roundhouse/settings.py
  biome.json
  mypy.ini
  package.json
  pyrightconfig.json
Due: architecture-import-check, architecture-path-check

refactor: remove unused import and reorder imports for clarity
  apps/backend/roundhouse/api/panel_routes.py
  apps/backend/roundhouse/services/panel_desktop.py
Due: architecture-import-check, architecture-path-check

fix: update pyright repository reference in pre-commit configuration
  .pre-commit-config.yaml
Due: none

refactor: clean up formatting and remove unnecessary newlines in configuration and test files
  .eslintrc.json
  .markdownlint.json
  .prettierrc
  apps/control-point/backend/main.py
  biome.json
  import_test.py
  package.json
  pyrightconfig.json
  tests/architecture/test_core_fs_guards.py
  tests/architecture/test_schema_singularity.py
Due: architecture-import-check, architecture-path-check

feat: add additional dependencies for biome and update ruff ignore rules
  .pre-commit-config.yaml
  pyrightconfig.json
  ruff.toml
Due: none

refactor: update formatting and structure in documentation files
  .github/copilot-instructions.md
  .markdownlint.json
  AGENT_INSTRUCTIONS.md
  apps/control-point/frontend/spec_001_ai_governed_system_development_methodology.md
  spec_001_ai_governed_system_development_methodology.md
Due: none

refactor: remove empty Prettier configuration file
  .prettierrc
Due: none

refactor: standardize formatting and improve code consistency across multiple files
  .markdownlint.json
  .pre-commit-config.yaml
  .trestle/standards.snapshot.json
  .vscode/settings.json
  AGENT_INSTRUCTIONS.md
  apps/control-point/contracts/ai_handshake.json
  apps/control-point/frontend/package.json
  apps/control-point/frontend/src/App.tsx
  apps/control-point/frontend/src/main.tsx
  apps/control-point/frontend/tsconfig.json
  apps/control-point/frontend/vite.config.js
  apps/frontend/src/AppShell.tsx
  apps/frontend/src/index.tsx
  apps/frontend/src/screens/Environments.tsx
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  biome.json
  libs/shared-ts/index.ts
  package.json
  pyrightconfig.json
  scripts/arch/frontend_import_check.js
  scripts/arch/shared_ts_import_check.js
  tsconfig.base.json
Due: frontend-import-check, shared-ts-import-check

feat: add vite-env.d.ts for CSS module declarations and update Vite config plugins
  apps/frontend/src/vite-env.d.ts
  apps/frontend/vite.config.ts
Due: frontend-import-check

refactor: update type hints and improve data structures across multiple files
  .markdownlint.json
  README.md
  apps/backend/roundhouse/api/ha_routes.py
  apps/backend/roundhouse/api/trestle_routes.py
  apps/backend/roundhouse/ha/client.py
  apps/backend/roundhouse/ha/models.py
  apps/backend/roundhouse/services/environment.py
  apps/backend/roundhouse/services/status.py
  apps/backend/roundhouse/trestle_bridge/contracts.py
  apps/control-point/backend/importer.py
  apps/control-point/backend/main.py
  apps/control-point/backend/models.py
  apps/control-point/cli/main.py
  core/nodes/registry.py
  core/simulator/models.py
  mypy.ini
  pyrightconfig.json
  spec_001_ai_governed_system_development_methodology.md
Due: architecture-import-check, architecture-path-check

feat: implement artifact management and simulator selection APIs, add manifest sync functionality
  apps/backend/main.py
  apps/backend/roundhouse/.env.example
  apps/backend/roundhouse/api/__init__.py
  apps/backend/roundhouse/api/artifact_routes.py
  apps/backend/roundhouse/api/simulator_inventory_routes.py
  apps/backend/roundhouse/api/simulator_selection_routes.py
  apps/backend/roundhouse/scripts/manifest_sync_job.py
  apps/backend/roundhouse/services/manifest_sync.py
  apps/backend/roundhouse/services/simulator_audit.py
  apps/backend/roundhouse/services/simulator_compat.py
  apps/backend/roundhouse/services/simulator_selection.py
  apps/backend/roundhouse/settings.py
Due: architecture-import-check, architecture-path-check

feat: enhance frontend components and screens with new layout and functionality
  .github/copilot-instructions.md
  .markdownlint.json
  .pre-commit-config.yaml
  apps/backend/pyproject.toml
  apps/backend/roundhouse/api/ha_routes.py
  apps/backend/roundhouse/api/simulator_inventory_routes.py
  apps/backend/roundhouse/api/simulator_selection_routes.py
  apps/backend/roundhouse/api/trestle_routes.py
  apps/control-point/backend/importer.py
  apps/frontend/src/AppShell.module.css
  apps/frontend/src/AppShell.tsx
  apps/frontend/src/components/PageHeader.tsx
  apps/frontend/src/components/ScreenLayout.tsx
  apps/frontend/src/components/SimulatorActions.tsx
  apps/frontend/src/components/SimulatorAuditLog.tsx
  apps/frontend/src/components/SimulatorStatusHeader.tsx
  apps/frontend/src/components/SimulatorTable.tsx
  apps/frontend/src/index.tsx
  apps/frontend/src/screens/ControlPoint.tsx
  apps/frontend/src/screens/Environments.module.css
  apps/frontend/src/screens/Environments.tsx
  apps/frontend/src/screens/Overview.tsx
  apps/frontend/src/screens/Placeholder.module.css
  apps/frontend/src/screens/Placeholder.tsx
  apps/frontend/src/screens/Simulation.tsx
  apps/frontend/src/screens/SimulatorManagement.tsx
  apps/frontend/src/screens/SimulatorSelection.tsx
  pyrightconfig.json
  scripts/arch/import_check.py
  scripts/arch/ui_composition_check.js
Due: architecture-import-check, architecture-path-check, frontend-import-check

Refactor simulator management and viewer components
  .trestle/standards.snapshot.json
  apps/backend/main.py
  apps/backend/roundhouse/api/__init__.py
  apps/backend/roundhouse/api/panel_routes.py
  apps/backend/roundhouse/api/simulator_inventory_routes.py
  apps/backend/roundhouse/api/simulator_selection_routes.py
  apps/backend/roundhouse/api/simulator_viewer_routes.py
  apps/backend/roundhouse/scripts/manifest_sync_job.py
  apps/backend/roundhouse/services/manifest_sync.py
  apps/backend/roundhouse/services/panel_desktop.py
  apps/backend/roundhouse/services/simulator_audit.py
  apps/backend/roundhouse/services/simulator_selection.py
  apps/backend/roundhouse/settings.py
  apps/frontend/src/AppShell.tsx
  apps/frontend/src/components/ErrorBoundary.tsx
  apps/frontend/src/components/SimulatorActions.tsx
  apps/frontend/src/components/SimulatorAuditLog.tsx
  apps/frontend/src/components/SimulatorStatusHeader.tsx
  apps/frontend/src/components/SimulatorTable.tsx
  apps/frontend/src/components/SimulatorViewport.tsx
  apps/frontend/src/global.css
  apps/frontend/src/index.tsx
  apps/frontend/src/screens/SimulatorManagement.tsx
  apps/frontend/src/screens/SimulatorSelection.tsx
Due: architecture-import-check, architecture-path-check, frontend-import-check

feat: add GitHub Actions workflow for quality gate and pre-commit configuration
  .github/workflows/trestle-quality.yml
  .gitignore
  .pre-commit-config.yaml
  trestle.repo.json
Due: none

refactor: reorganize pre-commit hooks and update dependencies
  .pre-commit-config.yaml
Due: none
